table{
    border: 2px solid;
    padding: 5px;
}
td{
    border: 1px solid;
    padding: 10px;
}

/* side to side 1 */
.side-to-side-1 label{
    background-color: red;
    width: 100px;
    height: 50px;
    display: block;
    transition: all 0.25s linear;
    position: relative;
    padding: 5px;
    border-radius: 25px;
}
.side-to-side-1 input{
    display: none;
}
.side-to-side-1 input:checked + label{
    background-color: rgb(109, 255, 47);
}
.side-to-side-1 label::before{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 206, 206);
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    content: "OFF";
    transition: all 0.25s linear;
}
.side-to-side-1 input:checked+label::before{
    left: 55px;
    content: "ON";
}
/* ------------------------ */
